/* Order.css */
.react-tabs__tab--selected {
    color: #BB8506;
    font-weight: bold;
  
  }
  

  .react-tabs__tab-list {
    border-bottom: 1px solid #e2e8f0; 
    padding-bottom: 0.5rem; 
  }
  
  .react-tabs__tab {
    padding: 0.5rem 1rem; 
    cursor: pointer; 
  }
  